<div class="mentor-chat">

    <div class="mentor-header">
        👨‍🏫 Human Mentor
        <button onclick="closeMentor()">✖</button>
    </div>

    <div class="mentor-body" id="mentorMessages">

        <p>
        Hi 👋 I'm your Human Mentor.
        Ask your project doubts here.
        </p>

    </div>


    <div class="mentor-input">

        <input id="mentorText" 
        placeholder="Type your doubt...">

        <button onclick="sendMentorMessage()">
        ➤
        </button>

        <button onclick="startVoice()">
        🎤
        </button>

    </div>

</div>